.env
__pycache__/
*.pyc
*.pyo
*.pyd
.db
db.sqlite3
model_artifacts/*.pkl
model_artifacts/*.json
predictions_db.json
*.csv
.DS_Store
.venv/
venv/
env/
.idea/
.vscode/
node_modules/
docker-compose.override.yml
